.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 0.75fr 0.5fr;  /* Fixe la largeur des colonnes */
  grid-template-rows: auto repeat(10, 1fr); /* Une rangée pour l'en-tête, puis 9 rangées pour les camions */
  grid-gap: 0px; /* Espace réduit entre les cellules */
  background-color: black;
  color: white;
  box-sizing: border-box;
  max-width: 300px;
  max-height: 600px;
  min-width: 300px;
  min-height: 600px;
  text-transform: uppercase;
}

.header {
  color: orange;
  font-weight: bold;
  text-align: center;
  height: 25px;
  font-size: 22px; /* Taille de police ajustée */
}

.item {
  display: flex;
  justify-content: center; /* Alignement horizontal */
  align-items: center; /* Alignement vertical */
  font-size: 16px; /* Taille de police ajustée */
  border-top: 1px solid white;
}

.no-trucks {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 14px;
}

.group-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
